<a href="https://colab.research.google.com/github/tdmhub/L4DA_resources/blob/main/pandas_exercise_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas  exercise for Level 4 Data Analysis

## 1. Setup

### Import

Before moving on to learn pandas first we need to install it and import it. If you install [Anaconda distributions](https://www.anaconda.com/) on your local machine or using [Google Colab](https://research.google.com/colaboratory) then pandas will already be available there, otherwise, you follow this installation process from [pandas official's website](https://pandas.pydata.org/docs/getting_started/install.html).

In [ ]:
# Importing libraries
import numpy as np
import pandas as pd

In [ ]:
# we can set numbers for how many rows and columns will be displayed
pd.set_option('display.min_rows', 10) #default will be 10
pd.set_option('display.max_columns', 20)

## 2. Loading Different Data Formats Into a Pandas Data Frame

### Reading CSV file

In [ ]:
# read csv file

url='https://raw.githubusercontent.com/tdmhub/L4DA_resources/main/online_store_customer_data.csv'
df = df = pd.read_csv(url,delimiter=',')
df.head(3)

,Transaction_date,Transaction_ID,Gender,Age,Marital_status,State_names,Segment,Employees_status,Payment_method,Referal,Amount_spent
0,1/1/2019,151200,Female,19.0,Single,Kansas,Basic,Unemployment,Other,1.0,2051.36
1,1/1/2019,151201,Male,49.0,Single,Illinois,Basic,self-employed,Card,0.0,544.04
2,1/1/2019,151202,Male,63.0,Married,New Mexico,Basic,workers,PayPal,1.0,1572.60

### Read CSV file from URL

## 3. Data preprocessing
Data preprocessing is the process of making raw data to clean data. This is the most crucial part of data the science. In this section, we will explore data first then we remove unwanted columns, remove duplicates, handle missing data, etc. After this step, we get clean data from raw data.

### 3.1 Data Exploring

#### Retrieving rows from data frame.

In [ ]:
# display first 3 rows

In [ ]:
# display last 10 rows

#### Retrieving sample rows from data frame.

In [ ]:
# Display random 3 sample rows

#### Retrieving information about dataframe

In [ ]:
# display datatypes

In [ ]:
# display counts of each data type dtype

#### Display number of rows and columns.

In [ ]:
#Display the column names

In [ ]:
# display place columns first 3 "State_names"

In [ ]:
# display first 4 rows of Age,	Marital_status and State_names columns

#### Retrieving a Range of Rows

In [ ]:
# for display 5nd to 11th rows

In [ ]:
# disaplay from row 2 to 7

In [ ]:
# for display last 5 rows

 ### 3.2 Data Cleaning
After the explore our datasets may need to clean them for better analysis. Data coming in from multiple sources so It's possible to have an error in some values. This is where data cleaning becomes extremely important. In this section, we will delete unwanted columns, rename columns, correct appropriate data types, etc.

#### Delete Columns name

In [ ]:
# Drop 	"Referal" unwanted column

#### Change Columns name

In [ ]:
# create new df_col dataframe from df.copy() method.
df_col = df.copy()

# rename column name  Amount_spent to payment

#### Adding a new column to a DataFrame

In [ ]:
# Add a new payment_pounds column which value will convert dollar amount into pounds
df_col['payment_pounds'] =

In [ ]:
#Check the new values

### 3.3 Remove duplicate

In [ ]:
# Display duplicated entries
df_col.duplicated().sum()

12

In [ ]:
# duplicate rows dispaly, keep arguments will--- 'first', 'last' and False
duplicate_value = df_col.duplicated(keep='first')

#Show the duplicates
df_col[duplicate_value]

,Transaction_date,Transaction_ID,Gender,Age,Marital_status,State_names,Segment,Employees_status,Payment_method,Referal,Amount_spent
64,1/25/2019,151259,Male,73.0,Married,West Virginia,Basic,Employees,PayPal,0.0,1397.09
65,1/26/2019,151260,Male,55.0,Married,Kansas,Basic,Employees,Other,1.0,1277.64
66,1/26/2019,151261,Female,72.0,Married,Iowa,Silver,Unemployment,PayPal,NaN,515.77
67,1/26/2019,151262,Male,15.0,Married,South Carolina,Basic,self-employed,Other,1.0,790.10
68,1/27/2019,151263,Female,63.0,Single,Texas,Gold,Employees,Card,1.0,1218.56
109,2/6/2019,151297,Male,60.0,Married,Utah,Silver,Unemployment,Other,1.0,433.20
110,2/7/2019,151298,Female,45.0,Married,Missouri,Platinum,workers,Other,1.0,929.89
111,2/8/2019,151299,Male,33.0,Single,Arizona,Silver,workers,PayPal,0.0,2560.26
112,2/8/2019,151300,Male,24.0,Married,South Carolina,Basic,Unemployment,Other,0.0,NaN
113,2/8/2019,151301,Female,53.0,Single,Colorado,Basic,self-employed,Other,1.0,1888.69
114,2/8/2019,151302,Female,70.0,Married,New Hampshire,Missing,Employees,Card,1.0,685.49
115,2/8/2019,151303,Male,16.0,Married,Nebraska,Basic,workers,PayPal,1.0,1264.73

In [ ]:
# dropping ALL duplicate values
df_col.drop_duplicates(keep = 'first', inplace = True)

### 3.4 Handling missing values

Handling missing values in the common task in the data pre-processing part. For many reasons most of the time we will encounter missing values. Without dealing with this we can't do the proper model building. For this section first, we will find out missing values then we decided how to handle them. We can handle this by removing affected columns or rows or replacing appropriate values there.

#### Display missing values information

In [ ]:
# Display missing value count and sort them least to most

Amount_spent        241
Referal             154
Age                  42
Gender               28
Employees_status     26
Transaction_date      0
Transaction_ID        0
Marital_status        0
State_names           0
Segment               0
Payment_method        0
dtype: int64

#### Delete Nan rows

If we have less Nan value then we can delete entire rows by `dropna()` function. For this function, we will add columns name in subset parameter.

In [ ]:
# df copy to df_copy
df_new = df_col.copy()

In [ ]:
#Delete Nan rows of Age Columns

In [ ]:
#Check there an no Nan in netChange

Amount_spent        237
Referal             150
Gender               27
Transaction_date      0
Transaction_ID        0
Age                   0
Marital_status        0
State_names           0
Segment               0
Employees_status      0
Payment_method        0
dtype: int64

#### Delete entire columns

If we have a large number of nan values in particular columns then dropping those columns might be a good decision rather than imputing.

In [ ]:
Drop Referal column

**Method 2** - Impute Mean, Median and Mode

In [ ]:
# Impute Mean in age columns

#Impute Median in age column

### 5.1. Calculating Basic statistical measurement

In [ ]:
df_new.describe().T

We know already above code will display only numeric columns basic statistical information. for object or category columns we can use `describe(include=object)` .

In [ ]:
df_new.describe(include=object).T