<a href="https://colab.research.google.com/github/tdmhub/L4DA_resources/blob/main/SSTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# we can set numbers for how many rows and columns will be displayed
pd.set_option('display.min_rows', 10) #default will be 10
pd.set_option('display.max_columns', 20)

url=' https://raw.githubusercontent.com/tdmhub/L4DA_resources/main/StudentsMarkCorrCoeff.xlsx'

# Command Andy Brown - this opens the sheet called Marks
df_Marks = pd.read_excel(url, sheet_name='Marks')
df_Marks

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Revision hours,Month of Birth,Classes Missed,Mark,NaN,Mark,NaN,Mark
2,NaN,S1,18,1,3,82,1.0,82,18.0,82
3,NaN,S2,2,9,30,20,9.0,20,2.0,20
4,NaN,S3,13,10,20,42,10.0,42,13.0,42
5,NaN,S4,14,3,7,68,3.0,68,14.0,68
6,NaN,S5,6,2,24,41,2.0,41,6.0,41
7,NaN,S6,15,11,1,95,11.0,95,15.0,95
8,NaN,S7,16,4,5,72,4.0,72,16.0,72
9,NaN,S8,9,6,16,48,6.0,48,9.0,48
10,NaN,S9,10,7,10,60,7.0,60,10.0,60
11,NaN,S10,15,12,12,62,12.0,62,15.0,62
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Standard Dev,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN